@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
         url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
         url('../fonts/PlayfairDisplay-Regular.eot') format('eot');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}